<div
  class="fixed top-0 left-0 z-40 rounded-br-2xl bg-white drop-shadow-xl"
  data-controller="menu"
  data-menu-active-class-value="bg-neutral-200"
>
  <div class="relative inline-block h-10 w-10 p-1 text-left">
    <button
      aria-label="Menu"
      type="button"
      class="inline-flex h-full w-full items-center justify-center rounded-xl text-neutral-700 hover:bg-neutral-200 focus:outline-none"
      id="menu-button"
      aria-expanded="true"
      aria-haspopup="true"
      data-menu-target="button"
      data-action="click->menu#toggleDropdown"
    >
      <%= icon :hamburger_menu, class: 'h-4 w-4' %>
    </button>

    <div
      class="absolute left-0 mt-2 hidden w-56 origin-top-right divide-y divide-neutral-100 overflow-hidden rounded-xl bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="menu-button"
      tabindex="-1"
      data-menu-target="dropdown"
    >
      <%= menu_item_group do %>
        <%= menu_item_action id: 'menu-item-share', action: 'click->share#openModal', icon: :share, text: 'Share...' %>
      <% end %>
      <%= menu_item_group do %>
        <%=
          menu_item_link id: 'menu-item-tutorial',
                         href: 'https://https://qniapp.github.io/qni/',
                         icon: :tutorial,
                         text: 'Tutorial (日本語)'
        %>
        <%=
          menu_item_link id: 'menu-item-github', href: 'https://github.com/qniapp/qni', icon: :github, text: 'GitHub'
        %>
        <%=
          menu_item_link id: 'menu-item-twitter', href: 'https://twitter.com/qniapp', icon: :twitter, text: 'Twitter'
        %>
      <% end %>
      <%= menu_item_group do %>
        <%=
          menu_item_action id: 'menu-item-clear-circuit',
                           action: 'click:quantum-simulator#clearCircuit',
                           icon: :trash,
                           text: 'Clear circuit'
        %>
      <% end %>
    </div>
  </div>
</div>
