<template id="h-gate-help">
  <div class="px-4 py-3">
    <header>
      <h1 class="mb-1 text-lg font-bold leading-none text-white">Hadamard Gate</h1>
      <p class="text-sm leading-none text-zinc-200">Creates simple superpositions.</p>
    </header>

    <div class="mt-4 flex flex-row items-center space-x-2">
      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="1" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="0" data-dark-mode></qubit-circle>
      </div>

      <div class="flex flex-row items-center">
        <%= icon :minus %>
        <h-gate class="qpu-operation-sm"></h-gate>
        <%= icon :arrow_right %>
      </div>

      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="0.7071" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="0.7071" data-dark-mode></qubit-circle>
      </div>
    </div>

    <div class="mt-2 flex flex-row items-center space-x-2">
      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="0" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="1" data-dark-mode></qubit-circle>
      </div>

      <div class="flex flex-row items-center">
        <%= icon :minus %>
        <h-gate class="qpu-operation-sm"></h-gate>
        <%= icon :arrow_right %>
      </div>

      <div class="flex flex-row space-x-2 pr-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="0.7071" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="-0.7071" data-dark-mode></qubit-circle>
      </div>
    </div>
  </div>
</template>

<template id="x-gate-help">
  <div class="px-4 py-3">
    <header>
      <h1 class="mb-1 text-lg font-bold leading-none text-white">NOT Gate (Pauli X Gate)</h1>
      <p class="text-sm leading-none text-zinc-200">Swaps the qubit pair of <code>|0⟩</code> and <code>|1⟩</code>.</p>
    </header>

    <div class="mt-4 flex flex-row items-center space-x-2">
      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="1" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="0" data-dark-mode></qubit-circle>
      </div>

      <div class="flex flex-row items-center">
        <%= icon :minus %>
        <x-gate class="qpu-operation-sm"></x-gate>
        <%= icon :arrow_right %>
      </div>

      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="0" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="1" data-dark-mode></qubit-circle>
      </div>
    </div>

    <div class="mt-2 flex flex-row items-center space-x-2">
      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="0" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="1" data-dark-mode></qubit-circle>
      </div>

      <div class="flex flex-row items-center">
        <%= icon :minus %>
        <x-gate class="qpu-operation-sm"></x-gate>
        <%= icon :arrow_right %>
      </div>

      <div class="flex flex-row space-x-2 pr-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="1" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="0" data-dark-mode></qubit-circle>
      </div>
    </div>
  </div>
</template>

<template id="y-gate-help">
  <div class="px-4 py-3">
    <header>
      <h1 class="mb-1 text-lg font-bold leading-none text-white">Pauli Y Gate</h1>
      <p class="text-sm leading-none text-zinc-200">A combination of the X and Z gates.</p>
    </header>

    <div class="mt-4 flex flex-row items-center space-x-2">
      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="1" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="0" data-dark-mode></qubit-circle>
      </div>

      <div class="flex flex-row items-center">
        <%= icon :minus %>
        <y-gate class="qpu-operation-sm"></y-gate>
        <%= icon :arrow_right %>
      </div>

      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="0" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="i" data-dark-mode></qubit-circle>
      </div>
    </div>

    <div class="mt-2 flex flex-row items-center space-x-2">
      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="0" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="1" data-dark-mode></qubit-circle>
      </div>

      <div class="flex flex-row items-center">
        <%= icon :minus %>
        <y-gate class="qpu-operation-sm"></y-gate>
        <%= icon :arrow_right %>
      </div>

      <div class="flex flex-row space-x-2 pr-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="-i" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="0" data-dark-mode></qubit-circle>
      </div>
    </div>
  </div>
</template>

<template id="z-gate-help">
  <div class="px-4 py-3">
    <header>
      <h1 class="mb-1 text-lg font-bold leading-none text-white">Pauli Z Gate</h1>
      <p class="text-sm leading-none text-zinc-200">Negate phases when the qubit is ON.</p>
    </header>

    <div class="mt-4 flex flex-row items-center space-x-2">
      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="1" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="0" data-dark-mode></qubit-circle>
      </div>

      <div class="flex flex-row items-center">
        <%= icon :minus %>
        <z-gate class="qpu-operation-sm"></z-gate>
        <%= icon :arrow_right %>
      </div>

      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="1" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="0" data-dark-mode></qubit-circle>
      </div>
    </div>

    <div class="mt-2 flex flex-row items-center space-x-2">
      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="0" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="1" data-dark-mode></qubit-circle>
      </div>

      <div class="flex flex-row items-center">
        <%= icon :minus %>
        <z-gate class="qpu-operation-sm"></z-gate>
        <%= icon :arrow_right %>
      </div>

      <div class="flex flex-row space-x-2 pr-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="0" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="-1" data-dark-mode></qubit-circle>
      </div>
    </div>
  </div>
</template>

<template id="phase-gate-help">
  <div class="px-4 py-3">
    <header>
      <h1 class="mb-1 text-lg font-bold leading-none text-white">Phase Gate</h1>
      <p class="text-sm leading-none text-zinc-200">Applies a phase of e<sup>iφ</sup> to the <code>|1⟩</code> state.</p>
      <p class="text-sm leading-tight text-zinc-200">The default φ = π/2.</p>
    </header>

    <div class="mt-4 flex flex-row items-center space-x-2">
      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="1" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="0" data-dark-mode></qubit-circle>
      </div>

      <div class="flex flex-row items-center">
        <%= icon :minus %>
        <phase-gate data-angle="π/2" class="qpu-operation-sm"></phase-gate>
        <%= icon :arrow_right %>
      </div>

      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="1" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="0" data-dark-mode></qubit-circle>
      </div>
    </div>

    <div class="mt-2 flex flex-row items-center space-x-2">
      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="0" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="1" data-dark-mode></qubit-circle>
      </div>

      <div class="flex flex-row items-center">
        <%= icon :minus %>
        <phase-gate data-angle="π/2" class="qpu-operation-sm"></phase-gate>
        <%= icon :arrow_right %>
      </div>

      <div class="flex flex-row space-x-2 pr-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="0" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="i" data-dark-mode></qubit-circle>
      </div>
    </div>
  </div>
</template>

<template id="t-gate-help">
  <div class="px-4 py-3">
    <header>
      <h1 class="mb-1 text-lg font-bold leading-none text-white">T Gate</h1>
      <p class="text-sm leading-none text-zinc-200">A shortcut for <code>π/4</code> Phase gate.</p>
      <p class="text-sm leading-tight text-zinc-200">
        Applies a phase of e<sup>iπ/4</sup> to the <code>|1⟩</code> state.
      </p>
    </header>

    <div class="mt-4 flex flex-row items-center space-x-2">
      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="1" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="0" data-dark-mode></qubit-circle>
      </div>

      <div class="flex flex-row items-center">
        <%= icon :minus %>
        <t-gate class="qpu-operation-sm"></t-gate>
        <%= icon :arrow_right %>
      </div>

      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="1" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="0" data-dark-mode></qubit-circle>
      </div>
    </div>

    <div class="mt-2 flex flex-row items-center space-x-2">
      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="0" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="1" data-dark-mode></qubit-circle>
      </div>

      <div class="flex flex-row items-center">
        <%= icon :minus %>
        <t-gate class="qpu-operation-sm"></t-gate>
        <%= icon :arrow_right %>
      </div>

      <div class="flex flex-row space-x-2 pr-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="0" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="0.7071+0.7071i" data-dark-mode></qubit-circle>
      </div>
    </div>
  </div>
</template>

<template id="rnot-gate-help">
  <div class="px-4 py-3">
    <header>
      <h1 class="mb-1 text-lg font-bold leading-none text-white">Square Root of NOT Gate</h1>
      <p class="text-sm leading-none text-zinc-200">Rotates around the X-axis by <code>π/2</code>.</p>
    </header>

    <div class="mt-4 flex flex-row items-center space-x-2">
      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="1" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="0" data-dark-mode></qubit-circle>
      </div>

      <div class="flex flex-row items-center">
        <%= icon :minus %>
        <rnot-gate class="qpu-operation-sm"></rnot-gate>
        <%= icon :arrow_right %>
      </div>

      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="0.5+0.5i" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="0.5-0.5i" data-dark-mode></qubit-circle>
      </div>
    </div>

    <div class="mt-2 flex flex-row items-center space-x-2">
      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="0" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="1" data-dark-mode></qubit-circle>
      </div>

      <div class="flex flex-row items-center">
        <%= icon :minus %>
        <rnot-gate class="qpu-operation-sm"></rnot-gate>
        <%= icon :arrow_right %>
      </div>

      <div class="flex flex-row space-x-2 pr-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="0.5-0.5i" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="0.5+0.5i" data-dark-mode></qubit-circle>
      </div>
    </div>
  </div>
</template>

<template id="rx-gate-help">
  <div class="px-4 py-3">
    <header>
      <h1 class="mb-1 text-lg font-bold leading-none text-white">Rx Gate</h1>
      <p class="text-sm leading-none text-zinc-200">Rotates around the X-axis by the angle θ.</p>
      <p class="text-sm leading-tight text-zinc-200">The default θ = π/2.</p>
    </header>

    <div class="mt-4 flex flex-row items-center space-x-2">
      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="1" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="0" data-dark-mode></qubit-circle>
      </div>

      <div class="flex flex-row items-center">
        <%= icon :minus %>
        <rx-gate data-angle="π/2" class="qpu-operation-sm"></rx-gate>
        <%= icon :arrow_right %>
      </div>

      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="0.7071" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="-0.7071i" data-dark-mode></qubit-circle>
      </div>
    </div>

    <div class="mt-2 flex flex-row items-center space-x-2">
      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="0" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="1" data-dark-mode></qubit-circle>
      </div>

      <div class="flex flex-row items-center">
        <%= icon :minus %>
        <rx-gate data-angle="π/2" class="qpu-operation-sm"></rx-gate>
        <%= icon :arrow_right %>
      </div>

      <div class="flex flex-row space-x-2 pr-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="-0.7071i" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="0.7071" data-dark-mode></qubit-circle>
      </div>
    </div>
  </div>
</template>

<template id="ry-gate-help">
  <div class="px-4 py-3">
    <header>
      <h1 class="mb-1 text-lg font-bold leading-none text-white">Ry Gate</h1>
      <p class="text-sm leading-none text-zinc-200">Rotates around the Y-axis by the angle θ.</p>
      <p class="text-sm leading-tight text-zinc-200">The default θ = π/2.</p>
    </header>

    <div class="mt-4 flex flex-row items-center space-x-2">
      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="1" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="0" data-dark-mode></qubit-circle>
      </div>

      <div class="flex flex-row items-center">
        <%= icon :minus %>
        <ry-gate data-angle="π/2" class="qpu-operation-sm"></ry-gate>
        <%= icon :arrow_right %>
      </div>

      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="0.7071" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="0.7071" data-dark-mode></qubit-circle>
      </div>
    </div>

    <div class="mt-2 flex flex-row items-center space-x-2">
      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="0" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="1" data-dark-mode></qubit-circle>
      </div>

      <div class="flex flex-row items-center">
        <%= icon :minus %>
        <ry-gate data-angle="π/2" class="qpu-operation-sm"></ry-gate>
        <%= icon :arrow_right %>
      </div>

      <div class="flex flex-row space-x-2 pr-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="-0.7071" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="0.7071" data-dark-mode></qubit-circle>
      </div>
    </div>
  </div>
</template>

<template id="rz-gate-help">
  <div class="px-4 py-3">
    <header>
      <h1 class="mb-1 text-lg font-bold leading-none text-white">Rz Gate</h1>
      <p class="text-sm leading-none text-zinc-200">Rotates around the Y-axis by the angle θ.</p>
      <p class="text-sm leading-tight text-zinc-200">The default θ = π/2.</p>
    </header>

    <div class="mt-4 flex flex-row items-center space-x-2">
      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="1" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="0" data-dark-mode></qubit-circle>
      </div>

      <div class="flex flex-row items-center">
        <%= icon :minus %>
        <rz-gate data-angle="π/2" class="qpu-operation-sm"></rz-gate>
        <%= icon :arrow_right %>
      </div>

      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="0.7071-0.7071i" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="0" data-dark-mode></qubit-circle>
      </div>
    </div>

    <div class="mt-2 flex flex-row items-center space-x-2">
      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="0" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="1" data-dark-mode></qubit-circle>
      </div>

      <div class="flex flex-row items-center">
        <%= icon :minus %>
        <rz-gate data-angle="π/2" class="qpu-operation-sm"></rz-gate>
        <%= icon :arrow_right %>
      </div>

      <div class="flex flex-row space-x-2 pr-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="0.7071+0.7071i" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="0" data-dark-mode></qubit-circle>
      </div>
    </div>
  </div>
</template>

<template id="swap-gate-help">
  <header>
    <h1>Swap Gate</h1>
    <p>Swap the values of two qubits.</p>
    <p>(Place two in the same step.)</p>
  </header>
</template>

<template id="control-gate-help">
  <header>
    <h1>Control Gate</h1>
    <p>Conditions on a qubit being ON.</p>
    <p>Gates in the same step only apply to states meeting the condition.</p>
  </header>
</template>

<template id="bloch-display-help">
  <header>
    <h1>Bloch Sphere Display</h1>
    <p>Shows a wire's local state as a point on the Bloch sphere.</p>
  </header>
</template>

<template id="write0-gate-help">
  <header>
    <h1><code>|0⟩</code> Operation</h1>
    <p>(Re)sets a qubit to state <code>|0⟩</code>.</p>
  </header>

  <div class="mt-4 flex flex-row items-center space-x-1">
    <circle-notation-old data-magnitudes="1,0" data-show-kets></circle-notation-old>
    <div class="flex flex-row items-center">
      <%= icon :minus %>
      <write-gate data-value="0" class="qpu-operation-sm"></write-gate>
      <%= icon :arrow_right %>
    </div>
    <circle-notation-old data-magnitudes="1,0" data-show-kets></circle-notation-old>
  </div>

  <div class="mt-5 mb-6 flex flex-row items-center space-x-1">
    <circle-notation-old data-magnitudes="0,1" data-show-kets></circle-notation-old>
    <div class="flex flex-row items-center">
      <%= icon :minus %>
      <write-gate data-value="0" class="qpu-operation-sm"></write-gate>
      <%= icon :arrow_right %>
    </div>
    <circle-notation-old data-magnitudes="1,0" data-show-kets></circle-notation-old>
  </div>
</template>

<template id="write1-gate-help">
  <header>
    <h1><code>|1⟩</code> Operation</h1>
    <p>(Re)sets a qubit to state <code>|1⟩</code>.</p>
  </header>

  <div class="mt-4 flex flex-row items-center space-x-1">
    <circle-notation-old data-magnitudes="1,0" data-show-kets></circle-notation-old>
    <div class="flex flex-row items-center">
      <%= icon :minus %>
      <write-gate data-value="1" class="qpu-operation-sm"></write-gate>
      <%= icon :arrow_right %>
    </div>
    <circle-notation-old data-magnitudes="0,1" data-show-kets></circle-notation-old>
  </div>

  <div class="mt-5 mb-6 flex flex-row items-center space-x-1">
    <circle-notation-old data-magnitudes="0,1" data-show-kets></circle-notation-old>
    <div class="flex flex-row items-center">
      <%= icon :minus %>
      <write-gate data-value="1" class="qpu-operation-sm"></write-gate>
      <%= icon :arrow_right %>
    </div>
    <circle-notation-old data-magnitudes="0,1" data-show-kets></circle-notation-old>
  </div>
</template>

<template id="measurement-gate-help">
  <header>
    <h1>Measurement Gate</h1>
    <p>Measures whether a qubit is ON or OFF.</p>
  </header>
</template>
